.demo-layout-transparent {
    background: url('../img/background.png') center / cover;
}

.demo-card-square > .mdl-card__title {
    color: #000;
    margin: 0 auto;
    text-align: center;
}

.demo-card-square {
    margin: 15% auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw; /* 1vw is 1/100th of the viewport width */
    height: 100vh; /* 1vh is 1/100th of the viewport height */
}
