@import "sign-in";
@import "navbar";
$map-font: 'Aref Ruqaa', serif;

body {
    font-family: $map-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.map-container {
    position: absolute;
    top: 60px;
}

#map {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

