$dark-red: #420801;
$light-beige: #E2DCBE;
$map-font: 'Aref Ruqaa', serif;


.sign-out-button,
#helloUser,
.mdl-layout-title,
h6 {
    font-family: $map-font;
}

.mdl-layout__header,
.mdl-layout__drawer,
.material-icons,
.sign-out-button {
    background-color: $dark-red;
    color: $light-beige;
}

.sign-out-button {
    cursor: pointer;
}

#helloUser {
    padding-left: 15px;
}

.mdl-navigation {
    padding-left: 15px;
    margin: 0;

    .mdl-navigation__link.small-screen {
        padding: 100px 15px 0 0;
        display: none;
    }
}

@media (max-width: 767px) {
    .mdl-navigation__link.large-screen {
        display: none;
    }

    .mdl-navigation {
        .mdl-navigation__link.small-screen {
            padding: 100px 15px 0 0;
            display: block;
        }
    }

}

