$dark-red: #420801;
$light-beige: #E2DCBE;
$map-font: 'Aref Ruqaa', serif;


.sign-out-button,
#helloUser,
.mdl-layout-title,
h6 {
    font-family: $map-font;
}

.mdl-layout__header,
.mdl-layout__drawer,
.material-icons,
.sign-out-button {
    background-color: $dark-red;
    color: $light-beige;
}

.email-verification {
    display: none;
}

.sign-out-button {
    cursor: pointer;
}

#helloUser {
    padding-left: 15px;
}

.mdl-navigation {
    padding-left: 15px;
    margin: 0;

    .mdl-navigation__link.small-screen {
        display: none;
    }

    #timer {
        width: 55px;
        border: 1px solid #444;
        display: none;
        margin: 0;
        padding: 5px;
        background-color: #F7F7F7;
        box-shadow: inset 0 0 10px #000;
        color: #000;
        position: absolute;
        top: 210px;
    
    }

    #cooldown-message {
        display: none;
        font-size: 11px;
        position: absolute;
        top: 215px;
        opacity: 0.4;
    }
}

.mdl-switch,
.cloak-switch {
    width: 30px;
    padding-left: 35px;
}

#drawer-sign-out {
    padding: 80px 0 0 0;
    
    .mdl-navigation__link {
        padding: 0;
    }
}

@media (min-width: 1080px) {
    .unverified {
        display: block !important;
        position: absolute;
        left: 26%;
    }
}

@media (max-width: 767px) {
    .mdl-navigation__link.large-screen {
        display: none;
    }

    .mdl-navigation {
        .mdl-navigation__link.small-screen {
            display: block;
        }
    }
}

