

.demo-layout-transparent {
    background-color: rgba(255,255,255, 0.1);
}



.demo-card-square {
    margin: 15% auto;

    .mdl-card__title {
        color: #000;
        margin: 0 auto;
        text-align: center;
    }
}
.mdl-layout__container {
    position: absolute;
    top: 0;
}
.backAnimation {
    background: url("../img/backgroundmap.jpg") center / cover;
    width: 100%;
    height: 100%;
    position: relative;
}